body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas {
  height: 100%;
  width: 100%;
}

* { 
  margin:0; 
  padding:0; 
}

html, body, #root { 
  width:100%; 
  height:100%; 
  overflow: hidden;
}

#ui {
  position: absolute;
	top:5%;
  left: 5%;
}
